{% load static %}

<nav class="navbar">
    <div class="navbar__logo-container">
        <a href="/">
            <img class="navbar__logo" src="{% static 'img/logo_wordmark.svg' %}" alt="Distance Dial logo" width="136" height="30">
        </a>
    </div>
    
    <ul class="navbar__nav-links">
        <li class="navbar__nav-item"><a href="#" class="navbar__link">How It Works</a></li>
        <li class="navbar__nav-item"><a href="#" class="navbar__link">Features</a></li>
        <li class="navbar__nav-item"><a href="#" class="navbar__link">Pricing</a></li>
    </ul>

    <ul class="navbar__cta-links">
        <li class="navbar__nav-item"><a href="#" class="navbar__link">Login</a></li>
        <li class="navbar__nav-item"><a href="#" class="navbar__link navbar__link--cta">Buy Now</a></li>
    </ul>
</nav>